<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.10.2/fullcalendar.min.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.1/axios.js"></script>
  <script src="https://unpkg.com/vue@2/dist/vue.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.10.2/fullcalendar.min.js"></script>
  <link rel="stylesheet" href="index.css">
  <title>Management</title>

  
</head>
<body>
    <body>
        <div id="app">
          <div class="calendar-container">
            <button @click="toggleCalendar">{{ currentDate }}</button>
          </div>
          <div class="content" :class="{ shifted: showCalendar }">
            <h1>Management</h1>

            <h3>Get Desk by ID</h3>
            <input v-model="idToGetBy" placeholder="id" type="number" class="form-control" />
            <button v-on:click="getById(idToGetBy)" class="btn btn-info">Get by ID</button>
            <div v-if="singleDesk">
              <p>ID: {{ singleDesk.id }}</p>
              <p>Name: {{ singleDesk.name }}</p>
              <p>Occupied: {{ singleDesk.occupied }}</p>
            </div>

      <h3>All Desks</h3>
      <div id="desklist" class="desk-list" v-if="desks && desks.length">
        <div v-for="desk in desks" :key="desk.id" class="desk-box">
          <h4>Name: {{ desk.name }}</h4>
          <p>ID: {{ desk.id }}</p>
          <p>
            <label>
              <input type="checkbox" v-model="desk.occupied" disabled>
              Occupied
            </label>
          </p>
        </div>
      </div>




    <div class="calendar-sidebar" :class="{ active: showCalendar }">
      <button class="close-btn" @click="toggleCalendar">Close</button>
      <div id="calendar"></div>
    </div>
  </div>
  <script src="index.js"></script>
</body>
</html>